{% extends "../dashboard.html" %} 
{%load humanize%}

{% block title %} Upgrade Account | {% endblock %}
{%block dashboard_content%} 

<p> upgrade your account</p>
<div class="container">
    
    <div class="row">
        
        <div class="col-8">
            <div class="container">
                <div class ="card p-3 mx-auto d-block"  style="width: 30rem;">
                    <h3 class="card-title text-center text-uppercase">Cradit/Debit Card</h3>
                    <p class="text-center">Confirm Card detail</p>
                    <div class="card-body">
                        <form  action="{% url "upgrade_confirmation"%}" method="post">
                            {% csrf_token %}
                            {{ form.as_p}}
                                
                         <button
                            type="submit"
                            class="btn btn-success text-uppercase mx-auto d-block"
                            style="background: #8e060f; border: #8e060f; margin:1rem"
                            > Upgrade </button
                        >
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if cc_detail %}
                        <h5 class="card-title">{{cc_detail.fullname}}</h5>
                        {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                        <p class="card-text">
                            <p>{{cc_detail.cc_number}}</p>
                            <p>{{cc_detail.expiry}}</p>
                         
                        </p>
                        <a href="{% url 'upgrade_confirmation'%}" class="card-link">Continue with this address</a>
                    {% else%} 
                        <h5 class="card-title">No address found</h5>
                        <p class="card-text">
                            please add your address
                        </p>
                    {% endif%}
                </div>
            </div>
            
        </div>

{% endblock%}