{% extends "../../base.html" %} 
{% load static %}


{% block title %}Checkout | {% endblock %}

{% include "../components/header.html"%}


{%block content%} 
 
<div class="container">
    <h4>Confirm Your Mailling address</h4>
    <div class="row">
        
        <div class="col-8">
            <h1> Address</h1>
            <form  action="{% url "order:checkout"%}" method="post">
            {{addressForm.as_p}}
                {% csrf_token %}
            <button class="btn btn-primary ">Add </button>
            </form>
        </div>
         
        <div class="col-4">
            
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if address %}
                        <h5 class="card-title">{{address.full_name}}</h5>
                        {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                        <p class="card-text">
                            <p>{{address.address_line}}</p>
                            <p>{{address.address_line2}}</p>
                            <p>{{address.phone}}</p>
                        </p>
                        <a href="{% url 'order:payment'%}" class="card-link">Continue with this address</a>
                    {% else%} 
                        <h5 class="card-title">No address found</h5>
                        <p class="card-text">
                            please add your address
                        </p>
                    {% endif%}
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    {% if order%}
                        <h5 class="card-title">Order Summary</h5>
                        {% comment %} <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> {% endcomment %}
                        <p class="card-text">
                            <p>{{order.total_paid}}</p>
        
                        </p>
                        
                    {% else%} 
                        <h5 class="card-title">No Order found</h5>
                        <p class="card-text">
                            please add your order
                        </p>
                    {% endif%}
                </div>
            </div>
        </div>
    </div>    

</div>
{%endblock%}