
{% extends "../dashboard.html" %} 

{%block dashboard_content%} 
<div class="container">
  <div style="margin: 80px">
    <h1>Transaction History</h1>
    <table class="table table-striped table-hover">
        <thead>
          <th>#</th>
          <th>Customer Name</th>
          <th>Vender</th>
          <th>Amount</th>
          <th>Transaction Date</th>
          <th>Action</th>
        </thead>
        <tbody>
     {% if tranasactions %}
    
     
      {% for transaction in tranasactions %} 
          <tr>
            <td> {{transaction.id}}</td>
            <td>{{transaction.customer}}</td>
            <td>{{transaction.store}}</td>
            <td>$ {{transaction.price}}</td>
            <td>{{transaction.added_date}}</td>
             <td>
              <a href="{% url 'transaction:transaction_update' transaction.id %}"> <i class="fa fa-edit"></i></a> |
              <a href="{% url 'transaction:transaction_delete' transaction.id %}"><i class="fa fa-trash-o"></i></a></td> 
            <tr>
          {% endfor %}
         
    {%else %}
          <p>No transaction added</p>
      {%endif%}
     </tbody>
      </table>
  </div>
</div>

{%endblock%}
