
{% extends "../dashboard.html" %} 
{% load humanize%}

{%block dashboard_content%} 
<div class="container">
  <div >
    <h1>Order History & Status </h1>
     <table class="table table-striped table-hover">
        <thead>
          <th>Order #</th>
          <th>Tracking Number</th>
          <th> Total Items</th>
          <th>Price</th>
          <th>Status</th>
          <th>Action</th>
        </thead>
        <tbody>
      {% if orders %}
        {% for order in orders %} 
            <tr>
              <td>{{order.id}}</td>
              <td>{{order.order_id}}</td>
              <td>{{order.order_items.count}}</td>
              <td>{{order.total_paid|intcomma}}</td>
              <td style="text-transform: uppercase">{{order.get_status_display}}</td>
              <td>
                <a href="{% url 'order:order_update' order.order_id %}"> <i class="fa fa-edit"></i></a> |
                <a href="{% url 'order:order_delete' order.order_id %}"><i class="fa fa-times"></i></a></td> 
              <tr>
            {% endfor %}
          
     {%else %}
          <p>No order added</p>
      {%endif%}
      </tbody>
      </table>
  </div>
</div>

{%endblock%}
