{% extends "base.html" %} 
{% load static%}

{% block head  %}<link
      href="{% static '/css/product-cards.css' %}"
      rel="stylesheet"
    />
  
 {% endblock %}

{% block content %}

{% include "components/header.html"%}
{% include "components/banner.html"%}
{% include "components/navbar.html"%}

<div class="container">
  {% if categories%} 
<h3 class="text-center my-4 heading-title">Top categories</h3>
  <div class="row gy-5 gx-5 row-cols-4 ">
      {% for category in categories %}
        <div class="col  text-center">
          <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="text-uppercase">{{category.title}}</h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>        
  
  {%endif%}
  {% if deals%} 
  <h3 class="text-center my-4 heading-title">Hot Deals</h3>
  <div class="row gy-5 gx-5 row-cols-4 ">
      {% for product in deals %}
        <div class="col  text-center">
          <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1; /* number of lines to show */
                                                line-clamp: 1; 
                                        -webkit-box-orient: vertical;"><a href="#">{{product.title}}</a></h5>
              <h4 >Rs. {{product.price}}</h4> 
              <p style="color:orange;"> <span> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-o	"></i></span></p>
              <div > <a href="{% url 'add-to-cart' product.slug %}" class="btn btn-light addToCart"> <i  class="fa fa-shopping-cart"></i></a> <a href="#" class="btn btn-light red"><i class="fa fa-heart"></i></a> </div>
            </div>
          </div>
        </div>
        {% endfor %}
        </div>
      {%else %}
      <div class="my-5">
        <h3 class="text-center my-4 heading-title">Hot Deals</h3>
        <p class="text-center"> Sorry No deal for today..! Please come again. </p>
      </div>
  {%endif%}

  {% if products%}
  
    <h3 class="text-center my-4 heading-title">Products</h3> 
    <div class="row gy-5 gx-5 row-cols-4 ">
      {% for product in products %}
        <div class="col  text-center">
          <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" style="overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1; /* number of lines to show */
                                                line-clamp: 1; 
                                        -webkit-box-orient: vertical;">
                                        <a href="{% url 'product_view' product.slug%}">{{product.title}}</a></h5>
              <h4 >Rs. {{product.price}}</h4> 
              <p style="color:orange;"> <span> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-o	"></i></span></p>
              <div > 
              
                  <button href="#"  class="btn btn-light addToCart"> <i  class="fa fa-shopping-cart"></i></button>
                  <button href="{% url 'product_view' product.id%}" class="btn btn-light red"><i class="fa fa-heart"></i></button> </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  {%endif%}
</div>
{%endblock%}
