{% extends "base.html" %} 
{% load static%}
{% load humanize%}

{% block head  %}
  <link href="{% static '/css/product-cards.css' %}" rel="stylesheet"/>  
 {% endblock %}

{% block content %}


{% include "components/banner.html"%}


<div class="container">
 {% if deals %} 
  <h3 class="text-center my-4 heading-title">Hot Deals</h3>
  <div class="row row-cols-1 row-cols-md-4 g-4">
      {% for product in deals %}
        <div class="col">
          <div class="card">            
            <p style="margin-left: auto; margin-right: 0; padding-top:0.5rem; padding-right:0.5rem">
              <span class="badge rounded-pill bg-danger">Hot deal </span>
              {% now "Y" as current_year %}
              {%if product.year == current_year %}
                <span class="badge rounded-pill bg-primary">Latest</span>
              {% endif %}
            </p>
            <img src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
             <h6 class="card-title">
                <a href="{% url 'product_view' product.slug%}">{{product.title}}</a></h6>
              <h5 >Rs. {{product.get_total_price|floatformat:2|intcomma}} </h5> 
              <p><span style = "text-decoration: line-through; color: gray">Rs. {{product.price|intcomma}} </span><span style = "color: blue"> {{product.disc_value}}% </span></p>
                <p></p>
             
              <form action="{% url "cart:cart_add" product.id %}" method="post" class="row g-3">
                  {% csrf_token %}
                  {{ single_form.non_field_errors }}

                  {{ single_form.quantity.errors }}
                  <label  for="{{ single_form.quantity.id_for_label }}" class="visually-hidden">Quantity</label>
                  {{ single_form.quantity }}
                  
                  <div class="text-center"> 
                      <button type="submit" class="btn btn-light addToCart"><i  class="fa fa-shopping-cart"></i></button>
                          <a href="{% url 'product_view' product.slug%}" class="btn btn-light red"><i class="fas fa-binoculars"></i></a>
                  </div>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
        
        </div>
        <div class="float-end my-5">
        <a href="{% url 'hotdeals_list_view' %}" class="btn btn-light red"> View more Deals <i class="fas fa-angle-double-right"></i></a>
        </div>
      {%else %}
      <div class="my-5">
        <h3 class="text-center my-4 heading-title">Hot Deals</h3>
        <p class="text-center"> Sorry No deal for today..! Please come again. </p>
      </div>
  {%endif%}
  {% if categories%} 
    <h3 class="text-center my-4 heading-title">Top Categories</h3>
      <div class="row row-cols-1 row-cols-md-4 g-4"> 
          {% for category in categories %}
            <div class="col-md-3  text-center">
              <div class="card" style="width: 18rem;">
                <img src="{{ category.get_url }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-uppercase"><a href="#">{{category.title}}</a></h5>
                </div>
              </div>
            </div>
            {% endfor %}
        
          </div>        
  {%endif%}



  {% if products%}
  
    <h3 class="text-center my-4 heading-title">Products</h3> 
    <div class="row gy-5 gx-5 row-cols-4 ">
      {% for product in products %}
        <div class="col">
          <div class="card" style="width: 18rem;">
            <p style="margin-left: auto; margin-right: 0; padding-top:0.5rem; padding-right:0.5rem">
              {% if product.discount%}
                <span class="badge rounded-pill bg-danger">Hot  deal </span>
              {% endif %}
              {% now "Y" as current_year %}
              {%if product.year == current_year %}
                <span class="badge rounded-pill bg-primary">Latest</span>
              {% endif %}
            </p>
            <img src="{{product.image}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h6 class="card-title">
                <a href="{% url 'product_view' product.slug%}">{{product.title}}</a></h6>
              <h5 >Rs. {{product.price|intcomma}}</h5> 
               <span>{% for i in '01234'|make_list%}
                        {% if i <  product.reviews.rate%}
                        <i class="fa fa-star"></i> 
                        {%else %}
                          <i class="fa fa-star" style="color:#ddd"></i> 
                        {% endif%}
                    {% endfor %}  ({{ product.reviews.count}})
                </span>
              <div class="text-center"> 
              
                  <form action="{% url "cart:cart_add" product.id %}" method="post" class="row g-3">
                    {% csrf_token %}
                    {{ single_form.non_field_errors }}

                    {{ single_form.quantity.errors }}
                    <label  for="{{ single_form.quantity.id_for_label }}" class="visually-hidden">Quantity</label>
                    {{ single_form.quantity }}
                    
                    <div class="text-center"> 
                        <button type="submit" class="btn btn-light addToCart"><i  class="fa fa-shopping-cart"></i></button>
                            <a href="{% url 'product_view' product.slug%}" class="btn btn-light red"><i class="fas fa-binoculars"></i></a>
                    </div>
                </form> 
                </div>
            </div>
          </div>
        </div>
      {% endfor %}</div>
      <div class="float-end my-5">
        <a href="{% url 'products_list_view' %}" class="btn btn-light red"> View more Deals <i class="fas fa-angle-double-right"></i></a>
        </div>
      
      
  
  {%endif%} 

   {% if brands%} 
    <h3 class="text-center my-4 heading-title">Top Brands</h3>
      <div class="brand">
            <div class="container-fluid">
                <div class="brand-slider"><div class="brand-item">
                  {% for brand in brands %}
                    <img src="{{ brand.get_url}}"  alt="">
                    {% endfor %}
                </div></div>
            </div>
        </div>

  
  {%endif%}
    
{%endblock%}
