{% extends "../base.html" %} 

{% include "components/header.html"%}
{%block content%} 
<div class="container">
    {% include "../components/header.html"%}
   
   <div class="container">           
       <button class="btn btn-warning my-3"> <i class="	fa fa-long-arrow-left"> </i>  Continue Shopping </button>
       <div class="row">
        <div class="col-8">
            <div class="row"> 
                <div class="col-9">
                    <h4>Shopping Cart </h4>
                </div> 
            <div class="col-3"> 
                    <h4>3 items</h4>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr class="table-light">
                            <th scope="col"></th>
                            <th scope="col">Item 1</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td></td>
                            <td>Item</td>
                            <td>300.15</td>
                            <td><input type="number"/></td>
                            <td>Total</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Item</td>
                            <td>600.20</td>
                            <td><input type="number"/></td>
                            <td>Total</td>
                        </tr>
                        <tbody>
                            <tfoot>
                                <tr class="table-light">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <th>Total price</th>
                                    <th>$ 900.35</th>
                                </tr>
                            </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                
                <div class="card-body">
                    <h5 class="card-title text-center">Order Summary </h5>
                    <table class=
                    "table">
                        <thead>
                            <tr>
                            <th>Subtotal:</th>
                            <th>$ 900.35</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Shipping</td>
                                <td>$ 250.00</td>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <td>$ 12.34</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>Total</td>
                                <td>$ 1072.69</td>
                            </tr>
                        </tfoot>
                    </table>
                    <button href="#" style="float:right" class="btn btn-success">Checkout</button>
                    {% comment %} <h5 class="card-title">Check Out </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a> {% endcomment %}
                </div>
                </div>
        </div>
       </div>

   </div>
   
    
</div>
{%endblock%}