<div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                 <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{cart.total_items}}
                                    <span class="visually-hidden">items in cart</span>
                                </span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                 <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{cart.total_items}}
                                    <span class="visually-hidden">items in cart</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% comment %} <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <header class="header" style="color: #8e060f; align: center py-10">
                                    <h1>ESB Store</h1>
                                    <p>Easy Buy & Sale Store</p>
                                </header>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            
                            <button type="button" class="btn btn-link position-relative">
                                <i class="fa fa-shopping-cart"></i>
                                {%if  cart.total_items %}
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{cart.total_items}}
                                    <span class="visually-hidden">items in cart</span>
                                </span>
                                {% endif %}
                            </button>
                            <a class="btn cart" href="{%url "cart:cart_detail"%}">
                                <i class="fa fa-shopping-cart"></i>
                                {%if  cart.total_items %}
                                    <span class=" top-0 start-100 translate-middle badge rounded-pill bg-danger mt-2">
                                        {{cart.total_items}}
                                        <span class="visually-hidden">items in cart</span>
                                    </span>
                                    {% endif %}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}