<div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Get in Touch</h2>
                            <div class="contact-info">
                                <p><i class="fa fa-map-marker"></i>123 EBS Store, Lahore, Pakistan</p>
                                <p><i class="fa fa-envelope"></i>email@ebsstore.com</p>
                                <p><i class="fa fa-phone"></i>+123-456-7890</p>
                            </div>
                        </div>
                        <div class="footer-widget">
                            <h2>Follow Us</h2>
                            <div class="contact-info">
                                 <div class="social">
                                    <a href=""><i class="fab fa-twitter"></i></a>
                                    <a href=""><i class="fab fa-facebook-f"></i></a>
                                    <a href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a href=""><i class="fab fa-instagram"></i></a>
                                    <a href=""><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Categories</h2>
                            <ul>
                                {% for category in categories%}
                                <li style="text-transform: uppercase"><a href="#">{{category.title}}</a></li>
                                {% endfor%}
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-widget">
                            <h2>Brands </h2>
                            <ul>
                                 {% for brand in brands%}
                                <li style="text-transform: uppercase"><a href="#">{{brand.title}}</a></li>
                                {% endfor%}
                            </ul>
                        </div>
                    </div>
                </div>
                
              
            </div>
        </div>
<div class="footer-bottom">
      <div class="container text-center">
            <div class="row">
                  <div class="col-md-6 copyright">
                  <p class="m-0 text-light">Copyright &copy;<a href="#"> EBS Store.</a></p> All Rights Reserved</p>
                  </div>
            </div>
      </div>
</div>