<!-- @format -->
<header class="header" style="color: #8e060f; align: center py-10">
  <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="{% url "index" %}">
                                <h1>ESB Store</h1>
                                    <p>Easy Buy & Sale Store</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <form action="{% url "search" %}"method="post">
                                {% csrf_token %}
                            <input id="searched" name="searched" type="text"  placeholder="Search" />
                            <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="{% url "cart:cart_detail"%}" class="btn btn-link position-relative cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span class="position-absolute top-0 start-80 translate-middle badge  rounded-pill bg-danger" >{{cart.total_items}}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</header>

