    <div class="nav">
      <div class="container-fluid">
          <nav class="navbar navbar-expand-md navbar-dark  px-5">
              <a href="{% url 'index' %}" class="navbar-brand" style="color:white">EBS Store</a>
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                  <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                  <div class="navbar-nav mr-auto">
                      <a href="{% url 'index' %}" class="nav-item nav-link active">Home</a>
                      <a href="{% url 'products_list_view' %}" class="nav-item nav-link">Catalogue</a>
                      <a href="{% url 'index' %}" class="nav-item nav-link">Categories</a>
                      <a href="{% url 'index' %}" class="nav-item nav-link">Hot Deals</a>
                      <a href="{% url 'index' %}" class="nav-item nav-link">Brands</a>
                  </div>
                  <div class="navbar-nav ml-auto">
                    {% if request.user.is_authenticated  %}
                      
                      <div class="nav-item dropdown">
                          <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span><i class="fa fa-user"></i>  Account</span></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a href="{% url 'dashboard' %}" class="dropdown-item">Dashboard</a>
                              <a href="{%url "logout"%}" class="dropdown-item">Logout</a>
                          </div>
                      </div>
                  {% else %}
                      <div class="nav-item dropdown">
                          <a  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span><i class="fa fa-user"></i>  Account</span></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a href="{%url 'login_view' %}" class="dropdown-item">Sign In</a>
                              <a href="{%url "register"%}" class="dropdown-item">Sign Up</a>
                          </div>
                      </div>
                  {% endif%}
                   
                  </div>
              </div>
          </nav>
      </div>
  </div>
    {% comment %} <nav class="navbar navbar-expand-md navbar-dark  px-5 " style="background-color: #8e060f; ">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">EBS Store</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

     
        <div class="collapse navbar-collapse" style="float:right;" id="navbarSupportedContent">
           
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" style="width:200px"aria-label="Search">
                <button class="btn btn-outline-light" type="submit"><i class="fa fa-search"></i></button>
              </form></li>
          {% if request.user.is_authenticated  %}
            
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url "logout"%}">Logout</a>
              </li>
            
          {% else %}
            
              
              <li class="nav-item">
                <a class="nav-link" href="{%url 'login_view' %}">SignIn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url "register"%}">SignUp</a>
              </li>
            
          {% endif%}
          <li class="nav-item ">
     
            <a class="nav-link btn btn-link position-relative" href="{%url "cart:cart_detail"%}">
               <i class="fa fa-shopping-cart"></i>
               {%if  cart.total_items %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger mt-2">
                    {{cart.total_items}}
                    <span class="visually-hidden">items in cart</span>
                  </span>
                  {% endif %}
              </a>
              
          </li>
          </ul>
        </div>
      </div>
    </nav> {% endcomment %}