<!-- @format -->

{% extends "../base.html" %} 
{% load static%}

{% block title %}Admin Dashboard | {% endblock %}
{% block head  %}<link
      href="{% static '/css/dashboard.css' %}"
      rel="stylesheet"
    />
  
 {% endblock %}


{%block content %}
<script src="{% static '/js/dashboard.js'%}"></script>

<div>
  <div id="wrapper">
  <aside id="sidebar-wrapper">
    <ul class="sidebar sidebar-nav pt-5">
      <div class="sidebar-brand">
        {% if user.type == 0 %}
          <h2>{{user.store.name}}</h2>
        {% else  %}
          <h2> {{user.username}}</h2>
        {%endif%}
    </div>
      <li class="item">
        <a href="{%url 'dashboard'%}"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="item">
        <a href="{%url 'admin_products_views'%}"><i class="	fa fa-shopping-bag"></i>Products</a>
      </li>
      <li class="item">
        <a href="{%url 'order:admin_order_view'%}"><i class="	fa fa-shopping-bag"></i>Order</a>
      </li>
      <li class="item">
        <a href="{%url 'order:admin_transaction_history'%}"><i class="fa fa-sort-alpha-asc"></i>Transactions</a>
      </li>
      <li class="item">
        <a href="{%url 'categories'%}"><i class="fa fa-sort-alpha-asc"></i>Categories</a>
      </li>
      <li class="item">
        <a href="{%url 'admin_stores_view'%}"><i class="fa fa-archive"></i>Stores</a>
      </li>
      <li class="item">
        <a href="{%url 'admin_users_view'%}"><i class="fa fa-dollar"></i>Acounts</a>
      </li>
    </ul>
  </aside>
  <div id="navbar-wrapper">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="#" class="navbar-brand" id="sidebar-toggle"><i class="fa fa-bars"></i></a>
        </div>
      </div>
    </nav>
  </div>

  <section id="content-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
          {%block dashboard_content%}
          {% endblock dashboard_content%}
          </div>
      </div>
  </section>

</div>

{%endblock%}


