

{% extends "../../base.html" %} 

{%block content%} 
<div class="container">
    {% include "../../components/header.html"%}
    <div class="container">
        <div class="row gy-5 row-cols-2">
            <div class="col"><img src={{product.image.url}} class="card-img-top" alt="product-image"></div>
            <div class="col">
                <h3 style="text-transform: capitalize;">{{product.title}}</h3>
                <h4 style="color: maroon" class="py-2">$ {{product.price}}</h4>
                <h5>{{product.category}}</h5>
                <p class="py-2">{{product.description}}</p>

                {% if product.quantity > 0%}<p style="color: green"> In Stock </p>{% else %} <p style="color: gray">Out of Stock</p> {% endif%}

                
            
            </div>
        </div>
    </div>

    
</div>
{%endblock%}