
{% extends "../../base.html" %} 

{%block content%} 

    <h3>Products</h3>  
    <div class="container">
    <div class="row gy-5 row-cols-4">
      {% for i in '0123456789'|make_list %}
      
        <div class="col text-center">
          <div class="card" style="width: 18rem;">
            <img src="https://picsum.photos/200" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title "><a href="#">Product Title</a></h5>
              <h4 >$ 56.90</h4> 
              <p style="color:orange;"> <span> <i class="fa fa-star"></i> <i class="fa fa-star"></i><i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i><i class="fa fa-star-o	"></i></span></p>
              <div > <a href="#" class="btn btn-light addToCart"> <i  class="fa fa-shopping-cart"></i></a> <a href="#" class="btn btn-light red"><i class="fa fa-heart"></i></a> </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{%endblock%}