{% extends "../../base.html" %} 

{%block content%} 
<div class="container">
    {% include "../../components/header.html"%}
    <div class="container">
        <div class="row gy-5 row-cols-2">
            <div class="col"><img src="https://picsum.photos/200" class="card-img-top" alt="product-image"></div>
            <div class="col">
                <h3 style="text-transform: capitalize;">{{product.title}}</h3>
                <h4 style="color: maroon" class="py-2">$ {{product.price}}</h4>
                <h5>{{product.category}}</h5>
                <p class="py-2">{{product.description}}</p>

                {% if product.quantity > 0%}<p style="color: green"> In Stock </p>{% else %} <p style="color: gray">Out of Stock</p> {% endif%}
                
                <form action="{% url "cart:cart_add" product.id %}" method="post" class="row g-3">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="col-auto">
                        {{ form.quantity.errors }}
                        <label  for="{{ form.quantity.id_for_label }}" class="visually-hidden">Quantity</label>
                        {{ form.quantity }}
                    </div>  
                    
                    <div class="col-auto">
                        <button type="submit" class="btn btn-success ">Add to cart</button>
                    </div>
                </form>
           </div>
        </div>
    </div>
</div>
{%endblock%}